{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/main.css'%}">
    <title>Django Landing Page</title>
</head>
<body>
    <nav class="shadow-lg">
        <div class="flex container mx-auto max-w-6xl px-6 items-center justify-between">
            <!-- Logo and Name -->
            <a href="{% url 'myapp:products' %}">
                <div class="flex space-x-1 md:space-x-3">
                    <img src="{% static 'img/bag.png'%}" class="h-8" alt="">
                    <div class="text-3xl font-semibold">
                        Buy&Sell
                    </div>
                </div>
            </a>
            

            <!-- NavMenu Options -->
            <div class="flex items-center space-x-12">

                <div class="flex flex-row space-x-10 font-medium">
                    <a href="{% url 'myapp:products' %}" class="text-lg border-b-4 py-6 border-orange-300">Home</a>
                    <a href="{% url 'myapp:mylistings' %}" class="text-lg py-6">Products</a>
                    <a href="" class="text-lg py-6">About</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'users:logout' %}" class="text-lg py-6">Logout</a>
                    {% else %}
                        <a href="{% url 'users:login' %}" class="text-lg py-6">Login</a>
                    {% endif %}                
                </div>
                
                {% if user.is_authenticated %}
                <div class="text-lg py-7">
                    <a class="" href="{% url 'users:profile' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 " viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
                        </svg>
                    </a>
                </div>
                {% endif %}
            </div>

            <a href="{% url 'myapp:add_product' %}">
                <div class="rounded-full border border-orange-400 px-4 py-2 text-orange-500 hover:text-white hover:bg-orange-500">
                    Post an Ad
                </div>
            </a>
            
            
            
        </div>
    </nav>

    {% block content %}

    {% endblock %}
</body>
</html>